.wrapper{
  height: 1200px;
  width: 100%;
  background-image: url(/asset/registerPage.jpg);
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#fillForm{
  width: 500px;
  height: 930px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 40px;
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 7px;
  font-size: 20px;
}

h1{
  color: rgb(41, 41, 41);
  text-align: center;
  width: 100%;
}

button{
  margin-top: -10px;
  padding: 10px;
  width: 100%;
  color: white;
  background-color: rgb(86, 86, 86);
  border-radius: 5px;
  font-size: 20px;
}

.input-data{
  display: flex;
  flex-direction: column;
  
  height: 110px;
}

input{
  border: 2px solid rgb(193, 193, 193);
  border-radius: 5px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

.errorMessage{
  margin-top: 10px;
  color: red;
  font-weight: bold;
  height: 20px;
  font-size: 18px;
}

.errorMessage1{
  position: absolute;
  margin-top: 83px;
  color: red;
  font-weight: bold;
  height: 20px;
  font-size: 18px;
}

.errorMessage2{
  position: absolute;
  margin-top: 40px;
  color: red;
  font-weight: bold;
  height: 20px;
  font-size: 18px;
}

.checkBoxx
{
  position: absolute;
  right:41%;
  margin-top: 15px;
}

.checkBoxx1{
  position: absolute;
  margin-top: 7px;
  margin-left: 20px;
}

.genderBox1{
  width: 140px;
  height: 20px;
}

.genderBox2{
  position: absolute;
  width: 170px;
  margin-top: 60px;
  margin-left: 270px;
}

.boxMale{
  position: absolute;
  margin-top: -10px;
}

.boxFemale{
  position: absolute;
  margin-top: -10px;
  
}