.wrapper{
    border: 10px solid pink;
}

.container-2{
    border: 5px solid black;
    margin-left: 20%;
    margin-right: 20%;
}

.content{
    border: 2px solid #ddd;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.penjual{
    border-color: #ccc;
    background-color: #ddd;
}

.content::after {
    content: "";
    clear: both;
    display: table;
}

.content img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.content img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right{
    float: right;
    color: #aaa;
}
.time-left{
    float: left;
    color: #999;
}
