body{
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background: #2c2c2c ;
    padding: 75px 0;
}
.fo-col{
    width: 25%;
    padding: 0 15px;
}
.fo-col h4{
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.fo-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f0f0e9;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.fo-col ul li a{
    width: 100px;
    font-size: 14px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #EEEEEE;
    display: block;
    transform: all 0.3s ease;
    transition: color .15s ease-in-out;
}

.fo-col ul li a:hover{
    color: rgb(15, 227, 61);
}

.fo-col .social-links a{
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: rgba(255,255,255,0.2);
    margin:0 12px 12px 0;
    text-align: center;
    line-height: 35px;
    border-radius: 25%;
    color: #fff;
    transition: all 0.5s ease;
}

.fo-col .social-links a:hover{
    color: #24262b;
    background-color: #ffff;
}

@media(max-width: 1000px){
    .fo-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 500px){
    .fo-col{
        width: 100px;
    }
}