.content{
    height: 1000px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside-content{
    background-color: white;
    border: 1px solid black;
    border-radius: 2rem;
    height: 80%;
    width: 50%;

}

.inside-content-box{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.search-content{
    border-right: 1px solid black;
    width: 30%;

}

.Top{
    border: 1px solid blue;
    height: 15%;
}
.SC1{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid orange;
}

.SC2{
    border: 1px solid red;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logosettings{
    border: 1px solid green;
    width: 2rem;

}


.find{
    height: 50%;
    width: 50%;
    border: 1px solid green;
}

.searchlogo{
    border: 1px solid indigo;
    width: 2rem;
    height: 50%;
}

#logosearch{
    position:absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 2rem;
}